LIVING_CANVAS_HOST=127.0.0.1
LIVING_CANVAS_PORT=8765
LIVING_CANVAS_PUBLIC_BASE_URL=http://127.0.0.1:8765
LIVING_CANVAS_DATA_DIR=./var
LIVING_CANVAS_MODEL_BASE_URL=
LIVING_CANVAS_MODEL_API_KEY=
LIVING_CANVAS_MODEL_NAME=
