#
# Living Canvas - openvela Contest 2026 team 482
#

config LVX_USE_DEMO_CONTEST2026_482_LIVING_CANVAS
	bool "Living Canvas dinner companion"
	default n
	select LV_USE_CANVAS
	select LV_USE_IMAGE
	select LV_USE_QRCODE
	---help---
		Enable the team 482 Living Canvas application core.
